:root {
    --primary: #ff0040;
    --secondary: #ff517c;
    --tertiary: #ffdfe7;
    --primary-alt: #0077ff;

    --gradient-primary: linear-gradient(175deg, #ff678d, var(--primary));
    --gradient-primary-alt: linear-gradient(175deg, #67bbff, var(--primary-alt));

    --text: #fff;
    --dark-text: #57313a;
    --border-radius: 32px;

    --shadow-outer-primary: 0 4px 21px 0 var(--secondary);
    --shadow-inner-primary: inset 0 -3px 2.5px 0 #fff4;

    --shadow-outer-secondary: 0 4px 21px 0 var(--secondary);
    --shadow-inner-secondary: inset 0 -3px 2.5px 0 #fff4;

    --shadow-outer-primary-alt: 0 4px 21px 0 var(--primary-alt);
    --shadow-inner-primary-alt: inset 0 -3px 2.5px 0 #fff4;
}

body {
    /* color: var(--text-color); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
